@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#727eaf,#5805aa);

}

.card{
    width:350px;
    padding:30px;
    border-radius:15px;
    backdrop-filter: blur(15px);
    background:rgba(255,255,255,0.1);
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

h1{
    text-align:center;
    color:white;
    margin-bottom:25px;
}

.input-group{
    position:relative;
    margin-bottom:20px;
}

.input-group i{
    position:absolute;
    top:50%;
    left:10px;
    transform:translateY(-50%);
    color:white;
}

.input-group input{
    width:100%;
    padding:10px 10px 10px 35px;
    border:none;
    border-radius:8px;
    outline:none;
}

.btn{
    width:100%;
    padding:10px;
    border:none;
    border-radius:8px;
    margin-top:10px;
    cursor:pointer;
    font-weight:600;
}

.btn:first-of-type{
    background:#00ffcc;
}

.clear{
    background:#ff4d6d;
    color:white;
}
